@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-y: hidden;
  --color-white: #f7f3ed;
  --color-black: #54494b;
  --color-primary: #f78764;
  --color-secondary: #8789c0;
  --color-tritary: #a06cd5;
  --color-category-primary: #256eff;
  --color-category-secondary: #46237a;
  --color-category-tritary: #3ddc97;
  --color-category-quaternary: #ff495c;
  --color-category-quinary: #ffc100;

  --text-style-mini: normal 12px 'Josefin Sans', sans-serif;
  --text-style-mini-italic: italic 12px 'Josefin Sans', sans-serif;

  --text-style-normal: normal 16px 'Josefin Sans', sans-serif;
  --text-style-normal-italic: italic 16px 'Josefin Sans', sans-serif;

  --text-style-large: normal 26px 'Josefin Sans', sans-serif;
  --text-style-large-italic: italic 26px 'Josefin Sans', sans-serif;

  --text-style-mega: normal 36px 'Josefin Sans', sans-serif;
  --text-style-mega-italic: italic 36px 'Josefin Sans', sans-serif;

  --text-style-omega: normal 64px 'Josefin Sans', sans-serif;

  --global-radius: 5px;

  --toastify-color-light: var(--color-white);
  --toastify-color-dark: var(--color-black);
  --toastify-color-info: var(--color-category-primary);
  --toastify-color-success: var(--color-category-tritary);

  .md-editor {
    --md-bk-color: var(--color-white);
  }
  .md-editor-dark {
    --md-bk-color: var(--color-black);
  }
}

.light-mode {
  --color-white: #54494b;
  --color-black: #f7f3ed;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--color-black);
}

.miniFont {
  font: var(--text-style-mini) !important;
}

.miniFontItalic {
  font: var(--text-style-mini-italic) !important;
}

.normalFont {
  font: var(--text-style-normal) !important;
}

.normalFontItalic {
  font: var(--text-style-normal-italic) !important;
}

.largeFont {
  font: var(--text-style-large) !important;
}

.largeFontItalic {
  font: var(--text-style-large-italic) !important;
}

.megaFont {
  font: var(--text-style-mega) !important;
}

.megaFontItalic {
  font: var(--text-style-mega-italic) !important;
}

.omegaFont {
  font: var(--text-style-omega) !important;
}


.bgColorWhite {
  background-color: var(--color-white) !important;
}

.bgColorBlack {
  background-color: var(--color-black) !important;
}

.bgColorPrimary {
  background-color: var(--color-primary) !important;
}

.bgColorSecondary {
  background-color: var(--color-secondary) !important;
}

.bgColorTritary {
  background-color: var(--color-tritary) !important;
}

.bgColorCategoryPrimary {
  background-color: var(--color-category-primary) !important;
}

.bgColorCategorySecondary {
  background-color: var(--color-category-secondary) !important;
}

.bgColorCategoryTritary {
  background-color: var(--color-category-tritary) !important;
}

.bgColorCategoryQuaternary {
  background-color: var(--color-category-quaternary) !important;
}

.bgColorCategoryQuinary {
  background-color: var(--color-category-quinary) !important;
}

.textColorWhite {
  color: var(--color-white) !important;
}

.textColorBlack {
  color: var(--color-black) !important;
}

.textColorPrimary {
  color: var(--color-primary) !important;
}

.textColorSecondary {
  color: var(--color-secondary) !important;
}

.textColorTritary {
  color: var(--color-tritary) !important;
}

.textColorCategoryPrimary {
  color: var(--color-category-primary) !important;
}

.textColorCategorySecondary {
  color: var(--color-category-secondary) !important;
}

.textColorCategoryTritary {
  color: var(--color-category-tritary) !important;
}

.textColorCategoryQuaternary {
  color: var(--color-category-quaternary) !important;
}

.textColorCategoryQuinary {
  color: var(--color-category-quinary) !important;
}