@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #f7f3ed;
  --color-black: #54494b;
  --color-primary: #f78764;
  --color-secondary: #8789c0;
  --color-tritary: #a06cd5;
  --color-category-primary: #256eff;
  --color-category-secondary: #46237a;
  --color-category-tritary: #3ddc97;
  --color-category-quaternary: #ff495c;
  --color-category-quinary: #ffc100;

  --text-style-mini: normal 12px 'Josefin Sans', sans-serif;
  --text-style-mini-italic: italic 12px 'Josefin Sans', sans-serif;

  --text-style-normal: normal 16px 'Josefin Sans', sans-serif;
  --text-style-normal-italic: italic 16px 'Josefin Sans', sans-serif;

  --text-style-large: normal 26px 'Josefin Sans', sans-serif;
  --text-style-large-italic: italic 26px 'Josefin Sans', sans-serif;

  --text-style-mega: normal 36px 'Josefin Sans', sans-serif;
  --text-style-mega-italic: italic 36px 'Josefin Sans', sans-serif;

  --text-style-omega: normal 64px 'Josefin Sans', sans-serif;

  --global-radius: 5px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--color-black);
}
